@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  color: white;
  background-color: #2d3748;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1.2rem;
  margin-right: 0.5rem;
  outline: none;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn:hover {
  background-color: #1a202c;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(209, 213, 219, 0.5);
}
@media screen and (max-width: 640px) {
  .btn {
    padding: 0.3rem 1rem;
    margin-right: 0.3rem;
  }
}
